<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--打开注解功能-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--自动扫描，凡是被标注了controller或service注解的都可以被扫描出来。能够不通过容器，直接把这些类装配进spring里-->
    <context:component-scan base-package="com.hp.controller com.hp.service.impl com.hp.mapper"></context:component-scan>

    <!--视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/page/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/company?serverTimezone=GMT%2B8&amp;characterEncoding=utf-8" />
        <property name="username" value="root" />
        <property name="password" value="htgCXtd" />
    </bean>

    <!--事务管理器。如果不配置的话，SQL语句可以执行，但是数据库中无法写入数据-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--通知。配置事务切面。如果不配置的话，SQL语句可以执行，但是数据库中无法写入数据-->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!--凡是以select开头，后面是任意字符的情况下，变成只读属性。不对其进行事务管理。-->
            <tx:method name="select*" read-only="true"/>
            <!--任意字符都进行事务管理（上面配置过的除外）-->
            <!--在这里指，如果数据库中有增删改的行为，则进行事务管理 -->
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--AOP。如果不配置的话，SQL语句可以执行，但是数据库中无法写入数据-->
    <aop:config>
        <!--切入点.表达式的含义是在com.hp.service.impl包内的任意返回值，任意方法，任意参数列表-->
        <aop:pointcut id="pointCutInsertDeleteUpdate" expression="execution(* com.hp.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointCutInsertDeleteUpdate"/>
    </aop:config>

    <!--指定MyBatis XML映射器文件的位置-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath*:com/hp/mapper/**/*.xml" />
    </bean>

    <!--扫描映射器配置，注入映射器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hp.mapper" />
    </bean>


</beans>




